services:
  dev:
    build:
      context: .
      target: dev
    volumes:
      - .:/workspace
      - ~/.config/nvim:/root/.config/nvim
      - nvim_data:/root/.local/share/nvim
      - nvim_state:/root/.local/state/nvim
    ports:
      - "8081:8081"
    tty: true
    command: zsh
    stdin_open: true
    environment:
      - EXPO_PACKAGER_PROXY_URL=http://localhost:8081
      - EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0

volumes:
  nvim_data:
  nvim_state:
