services:
  api:
    build:
      context: ./backend_api
      target: dev
    volumes:
      - ./backend_api:/workspace
      # - ${HOME}/.config/nvim:/root/.config/nvim
    working_dir: /workspace
    stdin_open: true
    tty: true
    command: bash
    ports:
      - 18080:18080

  frontend:
    build:
      context: ./traveler_web
      target: dev
    volumes:
      - ./traveler_web:/workspace
      - ~/.config/nvim:/root/.config/nvim
      - ~/.local/share/nvim:/root/.local/share/nvim
      - ~/.local/state/nvim:/root/.
    ports:
      - "19006:19006"
    tty: true
    command: zsh
    stdin_open: true
    environment:
      - EXPO_PACKAGER_PROXY_URL=http://localhost:19006
      - EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0
