BasedOnStyle: LLVM
ColumnLimit: 100
BinPackArguments: false
BinPackParameters: OnePerLine
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
PenaltyBreakBeforeFirstCallParameter: 1
BreakTemplateDeclarations: "Yes"
BreakConstructorInitializers: AfterColon
BreakBeforeBraces: Allman
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always
KeepEmptyLinesAtTheStartOfBlocks: false
