services:
  dev:
    build:
      context: .
      target: dev
    volumes:
      - .:/workspace
      # - ${HOME}/.config/nvim:/root/.config/nvim
    working_dir: /workspace
    stdin_open: true
    tty: true
    command: bash
    ports:
      - 18080:18080
